# GITIGNORE template for Wwise Project

.backup*
.cache*
*.akd
*.prof
*.validationcache
*.wsettings
AkWwiseProjectData.asset
IncrementalSoundBankData.xml

# Original audio is maintained locally by the audio owner.
/Originals/
